<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title th:text="${titulo}"></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    
</body>
</html>



<?php 
  session_start();
  ini_set('session.cache_limiter','public');
  session_cache_limiter(false);
  $dni = $_SESSION['dni'];
  if (!$_SESSION["loggedIn"]){
    $location = "Location: index.php";
    header($location);
    exit();  
  }
  include "templates/head.php";
  require "includes/config.php"; 
?>
<body class="fixed-nav sticky-footer bg-tdgov-dark" id="page-top">
  <?php include "templates/nav.php"; ?>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb small">
        <li class="breadcrumb-item">
          <a href="index.php"><?php echo constant("GESTIONDOCUMENTAL"); ?></a>
        </li>
        <li class="breadcrumb-item active"><?php echo constant("LISTADOEXPEDIENTES"); ?></li>
      </ol>
      <div id="page-wrapper">
        <!-- form start -->
        <section>
          <h3 class="text-tdgov ml-3"><i class="fa fa-folder-open-o mr-3"></i><?php echo constant("LISTADOEXPEDIENTES"); ?></h3>
          <hr class="my-4">
          <div class="table-responsive">
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
              <thead class="bg-tdgov-dark text-white">
                <tr>
                  <th><?php echo constant("REFERENCIA"); ?></th>
                  <th><?php echo constant("ESTADO"); ?></th>
                  <th><?php echo constant("FECHA"); ?></th>
                  <th><?php echo constant("INTERESADO"); ?></th>
                  <th><?php echo constant("ACCIONES"); ?></th>
                </tr>
              </thead>
              <tfoot class="bg-tdgov-dark text-white">
                <tr>
                  <th><?php echo constant("REFERENCIA"); ?></th>
                  <th><?php echo constant("ESTADO"); ?></th>
                  <th><?php echo constant("FECHA"); ?></th>
                  <th><?php echo constant("INTERESADO"); ?></th>
                  <th><?php echo constant("ACCIONES"); ?></th>
                </tr>
              </tfoot>
              <tbody>
                <?php
                  try 
                    { 
                
                      $connection = new PDO($dsnIn, $usernameIn, $passwordIn, $options);
                      $sql = 'SELECT DISTINCT ExpedienteInside.identificador, ExpedienteInside.fechaAperturaExpediente, ExpedienteInside.clasificacion, ExpedienteInside.estado, ExpedienteInside.fechaBaja, ExpedienteInsideInteresado.interesado FROM ExpedienteInside LEFT JOIN ExpedienteInsideInteresado ON ExpedienteInside.id = ExpedienteInsideInteresado.id_expediente ORDER BY ExpedienteInside.identificador';
                      $statement = $connection->prepare($sql);
                      $statement->execute();
                      $result = $statement->fetchAll();
                    }
                    catch(PDOException $error) 
                    {
			print_r($error);
                      echo $sql . "<br>" . $error->getMessage();
                    }

                    if ($result && $statement->rowCount() > 0){
						$anterior =$result[0]['identificador'];
						for($i=1;$i<count($result);$i++){
							if($anterior === $result[$i]['identificador']){
								$result[$i-1]['estado']='E02';
								$result[$i]['estado']='E02';
								unset($result[$i]);
							}
							else{
								$anterior=$result[$i]['identificador'];
							}
	                			}
					$result = array_values($result);

                    foreach ($result as $row) 
                    { 
                          $numeroExpediente = $row['identificador'];
                          $fechaEntrada     = date("d/m/Y", strtotime($row['fechaAperturaExpediente']));
                          $estado           = $row['estado'];
                          $interesado       = $row['interesado'];
                          $clasificacion    = $row['clasificacion'];
                ?>
                <tr>
                  <td><?php echo $numeroExpediente; ?></td>
                  <td><?php if($estado=='E01'){echo constant("ABIERTO");}else{echo constant("CERRADO");} ?></td>
                  <td><?php echo $fechaEntrada; ?></td>
                  <td><?php echo $interesado; ?></td>
                  <td>
                    <a href="verExpediente.php?app=<?php echo $numeroExpediente;?>" class="btn btn-outline-info btn-sm"><i class="fa fa-file-o"></i> <?php echo constant("VEREXPEDIENTE"); ?></a>
                  </td>
                </tr>
                <?php        
                    }       
                  }
                  else 
                    {
                      echo "<blockquote>" + constant("NOEXPEDIENTES") + "</blockquote>";
                    }   
                ?>
              </tbody>
            </table>
          </div>
          
            <div class="row" style="margin-top: 15px;">
              <div class="col-lg-12 mb-3 text-right">
                <button class="btn btn-outline-success" onclick="window.location.href='nuevoExpediente.php'"><i class="fa fa-plus-circle"></i> <?php echo constant("NUEVOEXPEDIENTE"); ?></button>
              </div>
            </div>
         
        </section>
      </div>
      <!-- /.page-wrapper -->
          
    <?php include "templates/footer.php"; ?>
  </body>
    <!-- Idioma en la tabla -->
    <?php include "includes/tablaIdioma.php"; ?>
</html>
